<br>
<div class="container-fluid bg-custom" style="font-weight: lighter;">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h3 class="text-success"> PCB Design</h3>
            <br>
            <ul class="list-unstyled">
                <li>
                    We have an in-house Printed Circuit Board (PCB) CAD design team; using the latest technology, we
                    take
                    your
                    circuit diagrams and specifications to create accurate PCB units, built to your exacting
                    requirements.
                </li>
                <li>
                    Our in depth knowledge and experience of PCB manufacturing and assembly allows us to identify
                    problems
                    early on
                    in the design stage, allowing us to resolve them before they become a production or assembly issue.
                </li>
                <li>
                    Once the design is approved your PCB unit will be delivered within 5-8 working days, or even
                    manufactured the
                    next day for those really urgent jobs.
                </li>
            </ul>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h3 class="text-success">
                PCB Prototypes
            </h3>
            <br>
            <ul class="list-unstyled">
                <li>
                    Fast PCB Prototype manufacture, guaranteed.
                </li>
                <li>
                    We have an excellent reputation as one of the quickest PCB manufacturers in the country. Our
                    efficient production facility and skilled workforce can produce PCB prototypes within 8 hours from
                    receipt of data.
                </li>
                <li>
                    As one of the country’s most reliable and trustworthy PCB manufacturers, you can be rest assured
                    your PCB prototype will be manufactured, quality checked and returned to you for your own testing or
                    development in the shortest possible timescale.
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <p style="font-size: 16PX; font-weight: 600;">Quick turnaround PCB prototype production may be essential for
                a variety of reasons. A fast and reliable same day PCB prototypes manufacturing service may be needed
                to:
            </p>
        </div>
    </div>
    <div class="row  justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="card ">
                <div class="card-body p-2" style="font-size: 15px;">
                    <h6 class="card-title">Give you peace of mind </h6>
                    <p class="card-text">
                        Our same day PCB prototype manufacturing service allows you to check, test and approve an
                        initial PCB prior to ordering a large PCB production batch.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body p-2">
                    <h6 class="card-title">Shorten product development timescales</h6>
                    <p class="card-text">
                        Manufacture of a series of same day PCB prototypes in the product development stage reduces time
                        to market for your new products.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body p-2">
                    <h6 class="card-title">Meet customer deadlines </h6>
                    <p class="card-text">Under pressure from your customers for product supply? Our same day PCB
                        prototype manufacture can save the day. </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body p-2">
                    <h6 class="card-title">
                        Meet the deadline for an exhibition
                    </h6>
                    <p class="card-text">
                        Manufacture of PCB prototypes in just 8 hours can help you to demonstrate new products and meet
                        tight timescales for shipping products to the next industry show.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body p-2">
                    <h6 class="card-title">Get your PCB prototype fast</h6>
                    <p class="card-text">
                        Because you don’t want to wait.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-11 bg-custom1 text-white p-5">
            <h5>
                PCB Manufacture
            </h5>
            <p>
                Whether you require blank, single-sided, double-sided or multi-layered PCBs, we can provide you with the
                perfect board for your needs.<br>
                With 20 years of PCB Manufacturing experience, we provide a precise, accurate and fast service. Quality
                printed circuit boards, manufactured perfectly, delivered on time, every time so you achieve your
                deadlines … guaranteed.
            </p>
            <h5>
                Manufacture, you receive<br>
                A professional PCB manufacturing and production control service
            </h5>
            <p>
                Total commitment to quality. Your circuit boards will be produced to exacting ISO 9001-2008
                standards.<br>
                A friendly, efficient and highly professional manner for an effective working relationship.
            </p>
            <h5>
                Inspected at every stage of the PCB manufacturing process
            </h5>
            <p>
                To guarantee your perfect PCB, our PCB Manufacturing process includes a rigorous inspection process.
                Your boards will receive seven different detailed inspections as they progress throughout production.
                Our highly skilled technicians log the inspection results, ensuring you receive the highest quality PCB
                possible.<br>
                Your boards can also be electronically base board tested on our 4 head flying plate tester, if required.
            </p>
            <h5>
                Perfect connections with shadow line plating
            </h5>
            <p>
                Our PCB Manufacturing process ensures complete consistency, eliminating any variables. State-of-the-art
                shadow line plating coats a layer of carbon through the holes in the panel resulting in a perfect
                connection from one side of the panel to the other, in every hole, every time
            </p>
        </div>
    </div>
    <br>
    <div class="row justify-content-center down-text">
        
        <div class="col-md-11">
            <h4 class="text-success">
                Perfect connections
            </h4>
            <p>
                Using the latest CNC drilling technology, our PCB Manufacturing process guarantees consistently accurate
                drilling to your original data, every time. We can manufacture PCB’s of any shape and complexity, always
                resulting in perfectly drilled boards.
                As key part of the PCB Manufacture process, the auto-tool change head selects the correct tool to match the
                data and adjusts the speeds and feeds to suit
                After selecting the tool, it laser-checks the diameter and length as well as concentricity and the granite
                bed and air-bearing spindle to ensure a positional accuracy measured in microns.
            </p>
            <h4 class="text-success">
                A perfect finish to the Printed Circuit Board
            </h4>
            <p>
                Using our PCB Manufacturing process, your boards will be photo image resisted to ensure flawless solder
                resist registration with no pad encroachment, for perfect surface mount assembly.<br>
                All boards are then hot air levelled or immersion gold plated, ensuring a flat, smooth, shiny surface is
                achieved to aid the assembly process
            </p>
            <h4 class="text-success">
                PCB Assembly Service
            </h4>
            <p>
                Our PCB assembly service takes away from you all the time-consuming stress of component procurement and
                assembly. We use our skills and expertise to produce fully assembled Printed Circuit Boards delivered to
                your door, providing you with a complete project management service.<br>
                After designing and making your PCBs, we can either assemble boards using your own components, or we source
                components on your behalf.
            </p>
            <h4 class="text-success">
                Surface Mount Technology (SMT) PCB Assembly Service
            </h4>
            <p>
                Our fast and economic Surface Mount Technology assembly provides you with fully assembled PCBs in with a
                fast turnaround for single, plated through or multi-layer boards.
            </p>
            <h4 class="text-success">
                Through-Hole (THT) PCB Assembly Service
            </h4>
            <p>
                Our Through-hole PCB assembly process provides strong mechanical bonds. It is used, for example, to give
                connectors additional mounting strength. The PCB Assembly Service process may be automated or manual. We use
                Through-hole PCB assembly to meet your project’s specific requirements.
            </p>
            <br>
            <p>
                We never compromise on quality and we apply a series of tests at every stage of the PCB Manufacturing and
                PCB Assembly Service process. As well as our own extensive tests, we also offer a testing service using your
                own test equipment where required.
                Our case studies show a range of assembled prototypes and batch run PCB’s designed and assembled to provide
                the functionality required for a variety of project needs.
            </p>
        </div>
    </div>
</div>