<div class="container-fluid">
    <div class="row bg-custom justify-content-center">
        <div class="col-md-5 align-self-center">
            <h1 class="text-white text-center">IC Packaging</h1>
        </div>
        <div class="col-md-6 align-self-center" style="font-weight: 500; font-size: 19px;">
            <p class="text-justify ">
                IC package design services for package design technologies such as flip-chip, wire-bond, stacked-die,
                System-in-Package (SiP),Package-on-package (PoP), Package-in-Package (PiP), Chip-scale-package (CSP) and
                other vertical space transformers (MLO/MLC) meant for ATE testing applications. We offer package
                solutions for high-speed digital ICs, mixed-signal ICs and RFIC products.
                Package design has become very complex with ever increasing data-rates and shrinking IC fabrication
                process technology
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h4 class="text-success ml-3">Our PCB Design Services</h4>
        <ul>
            <li>
                Flip-Chip BGA, Wire-bond BGA, Chip-scale-package (CSP), Package-on-package (PoP), Package-in-Package (PiP) design, MLO/MLC package for ATE hardware								
            </li>
            <li>
                IC/Package/board co-design flow.		
            </li>
            <li>
                Strong interaction with all stake holders in package design process.
            </li>
            <li>
                Power Integrity and decoupling cap optimization.			
            </li>
            <li>
                Co-ordination with assembly-house and substrate foundry to achieve first time right substrate								
            </li>
            <li>
                Strict adherence to assembly specifications.
            </li>
            <li>
                Experienced CAM team validates the design for Fab house DFM specification						
            </li>
        </ul>
    </div>
</div>