<div class="container-fluid custom-bg">
    <div class="container p-3">
        <div class="row">
             <div class="col-md-2">
                    <p class="text-white  text-left  border-warning ">Quick Links</p>
                    <ul class="unorder small" style="list-style-type: none;padding: 0; float: left; text-align: justify;">
                        <li>
                            <a class="text-white" routerLinkActive="active"  [routerLink]="['/home']">Home</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/aboutUs']">Company</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/projects']">Layout Design</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/gallery']">IC Packing</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/contactUs']">HDI</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/donate']">Quality</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/documents']">Service</a>
                        </li>
                        <li>
                            <a class="text-white" routerLinkActive="active" [routerLink]="['/documents']">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <p class="  text-left text-white">Contact Us</p>
                    <ul class="p-0 text-justify text-white small unorder list-unstyled">
                        
                        <li><i class="fas fa-phone "></i>&nbsp; +91 9533669922</li>
                        <li> <i class="fas fa-envelope"></i>&nbsp; info@ufamepcb.com</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class=" text-left text-white">You can find us here</p>
                    <img src="../../../assets/icons/map.png" class="img-fluid rounded-top rounded-bottom">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 ">
                    <br>
                    <p class=" font-weight-bold text-left text-white">Signup for mailing list to get latest updates.</p>
                    <form [formGroup]="subcribeForm" (ngSubmit)="subcribeEmail()">
                        <div class="input-group mb-3">
                            <input type="email" formControlName="emailID" class="form-control bg-dark" style="border: none !important;" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                              <button class="btn bg-white text-success" type="submit" id="button-addon2">Submit</button>
                            </div>
                          </div>
                    </form>
                    <span class="font-weight-bold small text-white">Follow Us</span>&nbsp;
                    <span><img src="../../../assets/icons/facebook-logo-button.png" class="img-fluid"></span>&nbsp;
                    <span><img src="../../../assets/icons/twitter-logo-button.png" class="img-fluid"></span>&nbsp;
                    <span><img src="../../../assets/icons/linkedin-button.png" class="img-fluid"></span> &nbsp;
                </div>
        </div>
    </div>
</div>