<br>
<h3 class="text-success text-center">
    Hign Density Interconnects
</h3>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-11 bg-custom">
            <div>
                <ul class="list-unstyled">
                    <li>
                        Our team delivers high quality Printed Circuit Board design (PCB design)for the given schematic
                        and design inputs on aggressive schedule for a competitive cost.Our end-end solution driven
                        design approach resolves issues encountered in designing high speed PCB of fast switching high
                        clock speeds
                    </li>
                    <li>
                        Our proven board design processes and methodologies enables us to deliver the complex PCB board
                        design on time to our customers.Our experienced board designers having extensive knowledge in
                        solving issues like transmission line effect ,EMI and Crosstalk.
                    </li>
                    <li>
                        The HDI design team is supported by a team of electrical simulation specialists ensures that the
                        design overcomes all critical signal issues to function effectively
                    </li>
                    <li>
                        We have long term relationship with selected group of PCB fab and assembly house to support your
                        prototype and volume requirements
                    </li>
                    <li>
                        We take the total accountability for the complete board development cycle from schematic
                        development to delivering the tested assembled boards (PCA - Printed Circuit Assembly) with the
                        required approvals and certifications
                    </li>
                    <li>
                        Our specialty is in handling of tight constrained high complex circuit boards for military
                        applications, avionics and processor mother boards.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11 p-0">
            <div class="container-fluid ">
                <div class="row " style="background-color: whitesmoke;">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 text-nowrap  px-2">
                        <br>
                        <h4 class="text-success">
                            Design Skills
                        </h4>
                        <ul>
                            <li>
                                Schematic Development and Schematic capturing.
                            </li>
                            <li>
                                HDI & RF Layout services
                            </li>
                            <li>
                                PCB Board Manufacturing and PCB Assembly support
                            </li>
                            <li>
                                Component/PCB Footprint Library development and management
                            </li>
                            <li>
                                Expertise in high speed digital, RF and mixed signal PCB design
                            </li>
                            <li>
                                High speed backplane PCB
                            </li>
                            <li>
                                Controlled Impedance board design / Controlled Delay matching board design
                            </li>
                            <li>
                                Precision analog and mixed signal board design
                            </li>
                            <li>
                                RF and microwave design skills
                            </li>
                            <li>
                                Microvia design, constraint driven placement and routing
                            </li>
                            <li>
                                Circuit board design as per IPC/MIL standards
                            </li>
                            <li>
                                High speed PCB designs involving multigiabit Serdes
                            </li>
                            <li>
                                Design of low power consuming boards using power management techniques
                            </li>
                            <li>
                                Flexible PCB design (FPCB)
                            </li>
                            <li>
                                HDI layout designs with Microvias.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 p-0 position-relative">
                        <img src="../../../assets/icons/HDI.png" class="img-fluid ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-11">
                        <h4 class="text-success">
                            Technologies Exposed
                        </h4>
                        <ul>
                            <li>
                                HDMI, LVDS, RVDS
                            </li>
                            <li>
                                High speed USB
                            </li>
                            <li>
                                DDR2, DDR3, DDR4, QDR-SRAM
                            </li>
                            <li>
                                High speed SERDES
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-11">
                        <h4 class="text-success">
                            Design Tools
                        </h4>
                        <ul>
                            <li>
                               Cadence Allegro (PCB Editor)		
                            </li>
                            <li>
                                Orcad Capture	
                            </li>
                            <li>
                                P-CAD
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>