.bg-custom{
    background: white url("../../../assets/icons/HDI_1.png") no-repeat center;
    background-size: cover;
}
ul.list-unstyled {
    list-style: none;
    padding: 20px;
  }
  .list-style {
    list-style: none;
  }
  .list-style li::before {
    content: "\25BA";
    color: green;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  ul.list-unstyled li{
     padding: 10px 0 10px 0;
  }
  ul li{
    padding: 3px 0 3px 0;
 }