
<div class=" " >
    <mat-toolbar class="text-white p-0 position-fixed" style="z-index: 5;">  
      <mat-toolbar-row class="mat-nav px-4" style="font-size: 12px;">
        <span class="example-spacer"></span>
        <div class="d-flex justify-content-around">
            <div>
             <i class="fa fa-envelope" aria-hidden="true"></i>
             &nbsp;
             ponder@ufame.com.tw</div>&nbsp; &nbsp;
             <div>
               <i class="fa fa-phone" aria-hidden="true"></i>
               &nbsp;
               +60123484833</div>
               <div> &nbsp;
                 <span>
                   <img src="../../../assets/icons/facebook-logo-button.png" width="24">
                 </span>&nbsp;
                 <span>
                  <img src="../../../assets/icons/linkedin-button.png" width="24">
                </span>&nbsp;
                <span>
                  <img src="../../../assets/icons/twitter-logo-button.png" width="24">
                </span>
               </div>
           </div>
      </mat-toolbar-row>
  
      <mat-toolbar-row class="d-flex  bg-white shadow" style="height: 70px;">
        
        <div class="p-0">
          <img src="../../../assets/icons/ufame.JPG" class="img-fluid p-1 ml3" width="130" height="40">
        </div>
        <span class="example-spacer"></span>
        <div class="align-self-end  bg-white w-75">
          <div class="main-nav  d-flex justify-content-around ">
            <a mat-button class="text-dark hover" [routerLink]="['/home']" routerLinkActive="active">HOME</a>
            <a mat-button class="text-dark hover" [routerLink]="['/about-us']"  routerLinkActive="active">Company</a>
            <a mat-button class="text-dark hover" [routerLink]="['/layout-design']"  routerLinkActive="active">Layout Design</a>
            <a mat-button class="text-dark hover"  [routerLink]="['/ic-packing']"  routerLinkActive="active">IC Packing</a>
            <a mat-button  class="text-dark hover"  [routerLink]="['/hdi']"  routerLinkActive="active">HDI</a>
            <a mat-button class="text-dark hover" [routerLink]="['/quality']"  routerLinkActive="active">Quality</a>
            <a mat-button class="text-dark hover"  [routerLink]="['/service']"  routerLinkActive="active">Service</a>
            <a mat-button class="text-dark hover" [routerLink]="['/contact-us']"   routerLinkActive="active">Contact Us</a>
            
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  