<div class="container-fluid position-relative" style="">
    <div class="row">
        <div class="col-md-5">
            <img src="../../../assets/icons/Home.png" class="img-fluid">
        </div>
        <div class="col-md-7 align-self-center text-center">
            <p class="lead" style="font-weight: 400;">
                Try Ultra fame Corp for the fastest complete printed circuit board service in the Taiwan.From PCB Design
                and Manufacture, Prototypes to Complete Product Assembly,Ultra fame Corp offer the fastest standard lead
                time in the industry.

            </p>
        </div>
    </div>
    <div class="row justify-content-center" style="background-color: #C6DCD8;">
        <div class="col-md-10">
            <p class="p-3" style="font-weight: 500;">
                If you have questions regarding our products & services, please contact us by calling or e-mail us and
                we"ll get back to you as soon as possible. We look forward hearing from you.
            </p>
            <div *ngIf="isResponceSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                {{serverResponce}}
                <button type="button" class="close" (click)="hideAlert()" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        </div>
    </div>
    <div class="row" style="background-color: #C6DCD8;">
        
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <form class="w-100" [formGroup]="contactUsForm" >
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <input type="text" formControlName="name" class="form-control bg-light border-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name*">
                          </div>
                          <div class="form-group mb-3">
                            <input type="email" formControlName="emailID" class="form-control bg-light border-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email*">
                          </div>
                          <div class="form-group mb-3">
                            <input type="text" formControlName="phoneNumber" class="form-control bg-light border-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password*">
                          </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <textarea placeholder="message*" formControlName="message" class="form-control"  rows="2"></textarea>
                            </div>
                            <div class="form-group bg-light mb-3 py-2 rounded-top rounded-bottom">
                                <input type="file" class="form-control d-none" name="file" id="inputGroupFile01" #fileInput
                                aria-describedby="inputGroupFileAddon01" 
                                (change)="fileProgress($event)">
                                <button mat-raised-button  type="button" style="height: 31px;" (click)="fileInput.click()">Choose file</button>
                                <span class="text-muted">{{fileName}}</span>
                              </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
            <div class="align-self-center">
                <button mat-raised-button type="submit" (click)="sendDetails()"   style="background-color: #cc7425; color: white;" class="mx-auto align-self-center">Submit</button>
            </div>
        </div>
    </div>
</div>