<div class="container">
    <div class="row bg-custom">
        <br>
        <h3 class="text-success text-center w-100 mt-3">Layout Design</h3>

        <p class="px-3 mt-2" style="font-size: medium; font-weight: 500;">
            Try Ultra fame Corp for the fastest complete printed circuit board service in the Taiwan.From PCB Design and
            Manufacture, Prototypes to Complete Product Assembly,Ultra fame Corp offer the fastest standard lead time in
            the industry.
        </p>
        <div>
            <h4 class="text-success ml-3 pb-2">Design Solutions</h4>
            <ul class="font-weight-normal">
                <li>We have collected abundant data base , design modeling and experience to meet the getting
                    complicated
                    testing requirement.
                </li>
                <li>
                    Such as mix-signal, RF, communication , memory , high layer and high speed pcb manufacturing.
                </li>
                <li>
                    Our designers closely interact with Vendors and strictly follow your design and DFM specs to
                    accelerate
                    designing of high yield ATE boards.
                </li>
                <li>
                    Our team is having vast experience in working for all major test board vendors and ATE IC test
                    system
                    vendors. 
                </li>
                <li>
                    We have long experience in designing boards for versatile ATE templates under different EDA design
                    tools
                    and able to provide high yield design solution. 
                </li>
                <li>
                    Signal routing of ATE boards are done manually considering PCB stack-up, distance to reference plane
                    and
                    power to ground configurations to minimize crosstalk and distortion
                </li>
            </ul>
        </div>
        <div>
            <h4 class="text-success ml-3 pb-2">ATE Test Boards</h4>
            <ul class="font-weight-normal">
                <li>
                    Universal and specialty Probe cards, Blade Probecards
                </li>
                <li>
                    Device interface board(DIB)
                </li>
                <li>
                    Handler Interface Boards
                </li>
                <li>
                    Probe interface boards
                </li>
                <li>
                    Load boards
                </li>
                <li>
                    Bench Boards
                </li>
                <li>
                    Evaluation Boards
                </li>
                <li>
                    Characterization Boards
                </li>
                <li>
                    Adapter Cards
                </li>
                <li>
                    Burn in Boards
                </li>
                <li>
                    Hast Boards, ESD and Latch up boards
                </li>
            </ul>
        </div>
        <div>
            <h4 class="text-success ml-3 pb-2">Board Design Experiance</h4>
            <ul class="font-weight-normal">
                <li>
                    All designs are schematic driven and layouting applies signal integrity rules.
                </li>
                <li>
                    Team exposed to various manufacturers’ processes DFM, DFA, DFT and ICT.
                </li>
                <li>
                    Precision Analog and Mixed signal integration.
                </li>
                <li>
                    Edge coupled and tandem differential pairs.
                </li>
                <li>
                    Optimal board stack up with ups with controlled impedance for micro stripline,stripline and dual
                    stripline stackups
                </li>
                <li>
                    Designed boards with blind and buried vias, Micro-via and via-less routing, constraint driven
                    placement and routing
                </li>
            </ul>
        </div>
        <div>
            <h4 class="text-success ml-3 pb-2">
                Design Highlights
            </h4>
            <ul class="font-weight-normal">
                <li>
                    Experience in designing of fine pitch ,high density,multi dut diagonal and RF Cantilever probecards
                </li>
                <li>
                    Experience in designing of Vertical probecards and space transformers, MLO/MLC substrates
                </li>
                <li>
                    Experience in designing Low leakage Parametric probecards ,Blade cards ,motherboards and RF
                    probecards
                </li>
                <li>
                    Experience in designing of wafer sort performance interface boards and motherboards
                </li>
                <li>
                    Electrical simulation of Probecard and probe pins
                </li>
                <li>
                    Ability to keep the layer count low and achieve zero tolerances routes
                </li>
                <li>
                    Designed boards for high frequency memory, logic and RF devices
                </li>
                <li>
                    In depth understanding of tester instrumentation and prober
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-success ml-3 pb-2">Probe Cards</h4>
            <div class="swiper-container s1 ">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <div class="card shadow ">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer2.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold"> Quartet</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer3.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold"> TS6700B_01</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer4.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">J750</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer5.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold"> TS6700C_01</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer6.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">J995</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer7.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">T5335P</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer8.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">CATALYST</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer9.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">V101</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer10.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">M1</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer11.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">SAPPHIRE</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer12.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">T5371</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer13.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold"> HP83K</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer14.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">HP93K</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer15.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">T5372</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer16.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">Ultra-FLEX</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer17.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">KALOS</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer18.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">VERSA5400</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer19.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">D750</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer20.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">SAPPHIRE-D10</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="../../../assets/probeCards/Layer21.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">VERSA4400</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <h4 class="text-success ml-3 pb-2">
                Load Board Design
            </h4>
            <ul class="font-weight-normal">
                <li>
                    A loadboard is critical for testing of ICs and a carefully designed board reduces the test pass
                    failure possibilities considerably
                </li>
                <li>
                    Ufame can design high performance loadboards which enables testing of the DUT as defined to your
                    test plan
                </li>
                <li>
                    Our experienced ATE test engineers are able to do ATE test schematics which are flexible to add
                    future test requirements also.
                </li>
                <li>
                    Designed load boards for testing of SoC/Mixed signals, LCD, Memory, Image sensor, Power, Digital,
                    Analog and RF devices
                </li>
                <li>
                    Availability tester template libraries, foot prints of sockets and components, Handler libraries
                </li>
                <li>
                    Knowledge over handlers and tester instrumentation
                </li>
                <li>
                    Routing ability to maintain Zero tolerance for high performance and low speed digital signals
                </li>
                <li>
                    Experience in popular ATE systems, tester instrumentation ,handler and sockets 
                </li>
            </ul>
            <div class="swiper-container s1 ">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <div class="card shadow h-same">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer6.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold"> Quartet</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow h-same">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer7.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold"> TS6700B_01</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow h-same">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer8.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">J750</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow h-same">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer9.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold"> TS6700C_01</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow h-same">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer10.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">J995</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow h-same">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer11.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">T5335P</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow h-same">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer12.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">CATALYST</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card shadow h-same">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer13.png" class="card-img">
                                <div class="card-text">
                                    <small class="font-weight-bold">V101</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card h-same shadow">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer14.png" class="card-img ">
                                <div class="card-text">
                                    <small class="font-weight-bold">M1</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card h-same shadow">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer15.png" class="card-img img-fluid">
                                <div class="card-text">
                                    <small class="font-weight-bold">SAPPHIRE</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card h-same shadow">
                            <div class="card-body">
                                <img src="../../../assets/loadbards/Layer16.png" class="card-img h-75">
                                <div class="card-text">
                                    <small class="font-weight-bold">T5371</small>
                                </div>
                            </div>
                        </div>
                    </div>
                  

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <h4 class="text-success ml-3 pb-2">
                Our Advantages
            </h4>
            <ul style="font-weight: 400;">
                <li>
                    Availability of qualified experienced resources, libraries and ATE templates.					
                </li>
                <li>
                    Expertise to handle EDA tools and customization skills to extend the capability of the EDA tools.							
                </li>
                <li>
                    Capability to route 1500 nets per day.		
                </li>
                <li>
                    Deliveries are verified by our test and application engineers.				
                </li>
                <li>
                    Inhouse developed software tools to reduce the design and layout time				
                </li>
            </ul>
        </div>
    </div>
</div>