<br>
<div class="container-fluid ">
    <div class="row justify-content-center">
        <h3 class="text-success">About Us</h3>
    </div>
    <div class="row justify-content-center ">
        <div class="col-md-11 bg-custom">
            <br>
            <p class="px-4  " style="font-weight: 400;">
                Ultra Fame Corp specializes in high-speed turn-key PCB services:PCB Layout Design specially in ATE
                Boards, Probe Card, Burning Boards, Load Boards, Substrate Design, OS Board Design, Mother Board Design
                etc..,Apart from we also support Manufacturing the Pcb with Assembly for the PCB and serve customers
                globally.
            </p>
            <p class="px-4 " style="font-weight: 400;">
                Our design covers HDI, FPC, ATE, MLC/MLO, Product Engineering, board Design, Hardware Simulation and
                IC/SIP Packaging services as well. We also provide convenient support for more than 50 of our customers
                globally.<br>
                We are a passionate bunch of engineers, technologists, business managers from diverse backgrounds.
            </p>
            
            <p class="px-4 " style="font-weight: 400; ">
                We harness our collective energy unceasingly to produce the most cost effective yet high quality
                products and solutions for our customers through the power of path breaking innovations and we are the
                trusted partner for many business houses.
            </p>
            <p class="px-4 " style="font-weight: 400;">
                Our game changing design and product solutions for our customers have enabled them to stay ahead of
                competition and also help them in solving the conundrum of reducing Time to Market and cost factors
                while rapidly increasing the standards of Quality.
            </p><br>
        </div>
    </div>
</div>