<br>
<h3 class="text-success text-center">Quality</h3>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            At UFame Semiconductor Private Limited, pride ourselves on the consistent quality of the Layout
                            we carry out and ensuring our customers have all the tools and practical support they require to
                            ensure the job is completed on time and budget. Our level of support and service throughout your
                            project is just one reason why our customers return to us again and again.
                        </p>
                        <p>
                            We are dedicated to satisfying your requirements in every aspect of quality service and for this
                            reason we are able to retain our customer base year on year.
                        </p>
                        <p>
                            Quality is at the heart of everything we do and we are continuously working to improve the
                            standard of delivering the PCB Layout service to our clients, ensuring an outstanding level of
                            precision and reliability with full achievement.
                        </p>
                        <p>
                            Thus, years of experience and strict control over procedures ensure that all our services
                            conform to the highest standard of quality.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/icons/quality.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>